/* Contenedor principal del banner */
.banner {
    display: flex;
    height: 69vh;  
  }
  
  .banner-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    color: white;
  }
 
  .banner-text h1 {
    margin-bottom: 1rem;
  }
  
  .banner-text p {
    font-weight: bold;
    margin: 0;
  }
  
  
  
  .banner-image {
    flex: 1; 
    background: url('/public/imagenes/casas/casa (4).jpeg') no-repeat center center; 
    background-size: cover; 
    background-position: center;
    background-color: transparent;
  }
  @media(max-width: 768px){
    .banner{
      display: flex;
      flex-direction: column;
     
    }
    .banner-text{
      position: absolute;
      padding: 10px;
    }
  }
  
  